@model DATN.Models.Role

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa vai trò </h1>
<br />
<h3>Bạn chắc xóa không?</h3>
<br />
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thông Tin Thử thách</h4>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Mô tả </th>
                                <th> Chi tiết </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                <tr>
                                    <td> 1 </td>
                                    <td> ID</td>
                                    <td>@Model.RoleId</td>

                                </tr>
                                <tr>
                                    <td> 2 </td>
                                    <td> Tên </td>
                                    <td>@Model.RoleName</td>

                                </tr>
                                <tr>
                                    <td> 3 </td>
                                    <td> Mô tả </td>
                                    <td>@Model.Description</td>

                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="RoleId" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a class="btn btn-warning" asp-action="Index">Back to List</a>
</form>
