@model DATN.Models.Difficult

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chi tiết về độ khó</h1>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thông Tin Chi Tiết</h4>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Mô tả </th>
                                <th> Chi tiết </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                <tr>
                                    <td> 1 </td>
                                    <td> ID </td>
                                    <td>@Model.DifficultId</td>

                                </tr>
                                <tr>
                                    <td> 2 </td>
                                    <td> Tên </td>
                                    <td>@Model.DifficultName</td>

                                </tr>
                                <tr>
                                    <td> 3 </td>
                                    <td> Mô tả </td>
                                    <td>@Model.Description</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
<div>
    <a class="btn btn-success btn-md" asp-action="Edit" asp-route-id="@Model.DifficultId">Edit</a> |
    <a class="btn btn-warning btn-fw" asp-action="Index">Back to List</a>
</div>