@model DATN.Models.Difficult

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h1>Quản lý độ khó</h1>

<br />

<h4>Chỉnh sửa độ khóh</h4>
<br />
<p>
    <a class="btn btn-inverse-primary btn-md" asp-action="Create">Create New</a>
</p>
<br />
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thông tin chi tiết</h4>

                <form class="forms-sample" asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="DifficultId" />
                    <div class="form-group row">
                        <label asp-for="DifficultName" class="col-sm-3 col-form-label">Tên độ khó</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="DifficultName" class="form-control" />
                            <span asp-validation-for="DifficultName" class="text-danger">@TempData["errorName"]</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Description" class="col-sm-3 col-form-label">Mô tả</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button asp-action="Index" class="btn btn-dark">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

