@model DATN.ModelView.RegisterVm

@{
    ViewData["Title"] = "DangKyTaiKhoan";
    Layout = "~/Views/Shared/_LayoutLog.cshtml";
}

<!--
Author: Colorlib
Author URL: https://colorlib.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<h3 class="card-title text-left mb-3">Register</h3>
<form asp-action="DangKyTaiKhoan" method="post" class="js-dangky">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control p_input" type="email" placeholder="Email" required="">
        <span class="js-errorEmail" style="color:red;">@TempData["errorEmail"]</span>
        <span asp-validation-for="Email" style="color:red;"></span>
    </div>
    <div class="form-group">
        <label>Mật khẩu</label>
        <input asp-for="Password" class="form-control p_input" type="password" placeholder="Password" required="">
        <span class="js-errorEmail" style="color:red;">@TempData["errorPass"]</span>
        <span asp-validation-for="Password" style="color:red;"></span>
    </div>
    <div class="form-group">
        <label>Xác nhận mật khẩu</label>
        <input asp-for="ConfirmPassword" class="form-control p_input" type="password" placeholder="Confirm Password" required="" onkeyup="validate_password()">
        <label id="errorRePass" for="" style="color:red;"></label>
    </div>
    <div class="form-group">
        <label>Họ và tên</label>
        <input asp-for="FullName" class="form-control p_input" type="text" placeholder="Fullname" required="">
        <span asp-validation-for="FullName" style="color:red;"></span>
    </div>
    <div class="form-group">
        <label>Số điện thoại</label>
        <input asp-for="Phone" class="form-control p_input" type="tel" placeholder="Phone" required="">
        <span class="js-errorEmail" style="color:red;">@TempData["errorPhone"]</span>
        <span asp-validation-for="Phone" style="color:red;"></span>
    </div>
    <div class="text-center">
        <button name="button" type="submit" class="btn btn-primary btn-block enter-btn">Register</button>
    </div>

    <p class="sign-up text-center">Đã có tài khoản?<a asp-action="Login" asp-controller="Accounts"> Đăng nhập ngay!</a></p>
</form>




<script>
    const formChangePass = document.querySelector('.js-dangky')
    function validate_password() {

        var pass = formChangePass.querySelector('input[name="Password"]').value;
        var confirm_pass = formChangePass.querySelector('input[name="ConfirmPassword"]').value
        if (pass != confirm_pass) {
            document.getElementById('errorRePass').style.color = 'red';
            document.getElementById('errorRePass').innerHTML
                = '☒ Mật khẩu không khớp';
            formChangePass.querySelector('button[name="button"]').disabled = true;
            formChangePass.querySelector('button[name="button"]').style.opacity = (0.4);
        } else {
            document.getElementById('errorRePass').style.color = 'green';
            document.getElementById('errorRePass').innerHTML =
                '🗹 Mật khẩu chính xác';
            formChangePass.querySelector('button[name="button"]').disabled = false;
            formChangePass.querySelector('button[name="button"]').style.opacity = (1);
        }
    }
</script>