<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUST</title>
    <script src="~/js/vanilla-calendar.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/asset/css/homebase.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/asset/css/maincss.css" asp-append-version="true">
    <link rel="stylesheet" href="~/asset/font/fontawesome-free-6.1.1-web/css/all.min.css" asp-append-version="true">
    <link href="~/asset/css/vanilla-calendar.min.css" rel="stylesheet">


    <style>
        #calendar {
            width: 100%;
            font-family: 'Helvetica', 'Arial', sans-serif;
            background-color: #fff;
            margin-bottom: 8px;
            padding: 0;
            margin: 16px 0;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <div class="app">
        <div class="header">
            <div class="header__layout">
                <div class="header__navbar">
                    <div class="header__navbar-home">
                        <a class="header__navbar-home-link" asp-controller="Accounts" asp-action="Dashboard">
                            <i class="fa-brands fa-connectdevelop header__navbar-home-icon"></i>
                            HUST
                        </a>
                    </div>
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item">
                            <a class="header__navbar-item-link" asp-controller="UserProfile" asp-action="Index">
                                <i class="fa-solid fa-user-pen header__navbar-item-icon"></i>
                                Thông tin cá nhân
                            </a>
                        </li>
                        <li class="header__navbar-item">
                            <a class="header__navbar-item-link" asp-controller="App" asp-action="Challenge">
                                <i class="fa-brands fa-centercode header__navbar-item-icon"></i>
                                Danh sách chủ đề
                            </a>
                        </li>
                    </ul>
                    <span class="flex1"></span>
                    <div class="header__navbar-infor">
                        
                        <div class="header__navbar-infor-item header__navbar-name">
                            <div class="header__navbar-infor-link header__navbar-menu">
                                TH
                                <div class="header__navbar-menu--content">
                                    <a asp-controller="UserProfile" asp-action="Index">Tài khoản của tôi</a>
                                    <a asp-controller="Accounts" asp-action="Logout">Đăng xuất</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    @await Component.InvokeAsync("Notyf");
    @await RenderSectionAsync("Script", required: false)
</body>
</html>
